---
layout: default
title: lauriro.github.com
---
{% capture visible_posts %}{{ paginator.page | minus:1 | times:paginator.per_page | plus:paginator.posts.size }}{% endcapture %}
{% capture total_posts %}{{ site.posts.size }}{% endcapture %}

<ul class="posts">
{% for post in paginator.posts %}
	{% include post.textile %}
{% endfor %}
{% if visible_posts == total_posts %}
Thats all ..
{% endif %}
</ul>

{% if site.posts.size > paginator.per_page %}
	{% if visible_posts == total_posts %}
     <em>&larr; Older</em>
	{% else %}
     <a href="/page{{ paginator.next_page }}/">&larr; Older</a>
	{% endif %}
	page {{ paginator.page }} 
	{% if paginator.page == 1 %}
		<em>Newer &rarr;</em>
	{% else %}
		<a href="{% if paginator.previous_page == 1 %}/{% else %}/page{{ paginator.previous_page }}{% endif %}">Newer &rarr;</a>
	{% endif %}
{% else %}
<em>All posts on one page :)</em>
{% endif %}

<h1>Archive</h1>

{% capture first_year %}{{ site.posts.first.date | date: "%Y" }}{% endcapture %}
{% capture last_year %}{{ site.posts.last.date | date: "%Y" }}{% endcapture %}
since {{ first_year }}

<ul>
{% for y in (2007..2025) reversed %}
  {% if site.collated_posts[y] %}
    <li>{{ y }}
    <ul>
      {% for m in (1..12) reversed %}
        {% if site.collated_posts[y][m] %}
          <li><a href='/{{ y }}/{{ m }}/'>{{ m | to_month}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    </li>
  {% endif %}
{% endfor %}
</ul>