<!DOCTYPE html>
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="imagetoolbar" content="no"/>
	<meta name="robots" content="noindex,follow"/>
	<link rel="alternate" type="application/atom+xml" href="/atom.xml" />
	<title>{{ page.title }}</title>{% if page.summary %}
	<meta name="description" content="{{ page.summary }}" />{% endif %}
	<link rel="stylesheet" href="/css/default.css" type="text/css" />{% for css in page.css %}
	<link rel="stylesheet" href="{{ css }}" type="text/css" />{% endfor %}{% for js in page.javascript %}
	<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
</head><body id="body">

<noscript><div class="warning"><h2>Warning!</h2><p>This application requires JavaScript and cookies to be enabled in your Browser.<hr/>&middot; <a href="http://lauriro.github.com/">lauriro.github.com</a> &middot;</p></div></noscript>

<div id="page">

<div id="header"><h1><a href="/">Lauri's Notes</a></h1>
* it's not a home page, just notes
<ol>
	<li><a href="/">Home</a></li>
	<li><a href="/notes.html">Notes</a></li>
	<li><a href="/images.html">Images</a></li>
</ol></div>

<div id="content">
{{ content }}
</div>

{% capture last_year %}{{ site.posts.first.date | date: "%Y" }}{% endcapture %}
{% capture first_year %}{{ site.posts.last.date | date: "%Y" }}{% endcapture %}

<div class="clear footerspace"></div>
<div id="footer">
<p>since {{ first_year }}{% if first_year != last_year %} to {{ last_year }}{% endif %}</p>
</div>

</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2757012-4");
pageTracker._trackPageview();
} catch(err) {}</script>
</body></html>
