<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="imagetoolbar" content="no"/>
	<meta name="robots" content="noindex,follow"/>
	<title>{{ page.title }}</title>
{% if page.summary %}
	<meta name="description" content="{{ page.summary }}" />
{% endif %}
	<link rel="stylesheet" type="text/css" href="/index.css"/>
	<link rel="alternate stylesheet" type="text/css" href="mouse_none.css" title="Hide mouse"/>
{% for css in page.css %}
	<link rel="stylesheet" href="{{ css }}" type="text/css" />
{% endfor %}
	<script type="text/javascript" src="/lib/global.js"></script>
{% for js in page.javascript %}
	<script type="text/javascript" src="{{ js }}"></script>
{% endfor %}
</head><body id="body">

<noscript><div class="warning"><h2>Warning!</h2><p>This application requires JavaScript and cookies to be enabled in your Browser.<hr/>&middot; <a href="http://lauriro.github.com">lauriro.github.com</a> &middot;</p></div></noscript>

<ol>
	<li><a href="/">Home</a></li>
</ol>

{{ content }}



<script type="text/javascript"><!--

addEvent(window,'load',function(){

});

//-->
</script>
</body></html>